.glyphicon {
    margin-right:5px;
}
/*Colors:
#518abc
*/
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2f5476;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.6s; /* 0.5 second transition effect to slide in the sidenav */
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.sidenav .card-body {
    padding-left: 3rem;
}
.sidenav p {
    margin: 0;
}
#sidenavTrigger {
    height: 100%; /* 100% Full-height */
    min-width: 40px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    left: 0;
}
.jumbotron  {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
}
#main-title {

    color: black;

}

.jumbotron a{
    margin-left: 30px;
}
.jumbotron h1 {
    color: sandybrown;
}
.jumbotron h1:hover {
    color: darkorange;
}
.container {
    margin-top: 15rem;
    z-index: 3;
}
#login{
    color:red;
}
.cart-open {
    background-color: #3b3b3b;
    min-height: 300px;
    min-width: 400px;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.cart-holder button {
    margin: .3rem;
    position: relative;
    color: sandybrown;
    float: right;
}
.cart-holder button:hover {
    color: darkorange;
}
.cart-holder{
    z-index: 1999;

    overflow-x: hidden; /* Disable horizontal scroll */

}
#cart {
    display: none;
    background-color: #2f5476;
    opacity: 90%;
    border-radius: 10px;
    padding: .7rem;
    border: #3b3b3b 2px solid;
}
#cart tbody th{
    color: sandybrown;
    border-bottom: darkorange 2px solid;
    text-align: center;
}
#cart tbody tr th{
    border-collapse: collapse;
}
#cart table th,td{
    color: sandybrown;
}
.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-inside {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}
.total-row {
    position: absolute;
    left: 1rem;
    bottom: .4rem;
    width: 80%;
    border-top: darkorange 2px solid;
}


.total-price {
    position: absolute;
    right: 1rem;
    bottom: .1rem;
}

.content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.content input {
    width: 33.3333333%;
    margin-left: 33.3333333%;
}

#phone-number {
    margin-bottom: 2.5rem;
}

.navUser{
    display: flex;
    flex-direction: row;
}
/* The navigation menu links */
.sidenav a {
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: sandybrown;
    display: block;
    transition: 0.3s;
}

.navTop{
    display: flex;
    flex-direction: row;
    position: fixed;
    left:30rem;
}
.navBarDropButton a {
    padding: 8px 8px 32px 8px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: darkorange;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main-title {
    color: black;
    text-decoration: none;
}
#login{
    margin:auto;
    color:black;
    text-decoration: none;
}

.navTop{

   display: flex;
    flex-direction: row;
}
.checkout p {
    margin-top: 1rem;
    line-height: .6rem;
}

.checkout {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 13rem;
    background-color: white;
    width: 100%;
    margin-bottom: 2.5rem;
}

.checkout input {
    margin-bottom: 1rem;
}
.checkout #checkbox {
    display: flex;
    flex-direction: row;
}

.checkout #checkbox input{
    margin: auto 2rem auto 33.3333%;
    width: 1rem;
}

#billing input {
    margin-left: 0;
}

#billing-address {
    margin-bottom: 1.5rem;
}

#shipping-address {
    margin-bottom: .7rem;
}

#back-button {
    margin-left: 4rem;
}

.payment {
    width: 100%;
    margin-bottom: 4rem;
}

.payment #pay {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 4rem 4rem 0;
    width: 8rem;
}

form{
    display: flex;
    flex-direction: column;
}

form button{
    width: 100px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}