.glyphicon {
    margin-right:5px;
}
/*Colors:
#518abc
*/
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2f5476;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.6s; /* 0.5 second transition effect to slide in the sidenav */
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.jumbotron  {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    padding: 3rem 1.5rem;
}

#main-title {
    margin: auto;
    color: black;
    text-decoration: none;
}

.jumbotron h1 {
    margin: auto;
    color: sandybrown;
}

.jumbotron h1:hover {
    color: darkorange;
}

.container {
    margin-top: 15rem;
    z-index: 3;
}
#sidenavTrigger {
    height: 100%; /* 100% Full-height */
    min-width: 40px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    left: 0;
}
/* The navigation menu links */
.sidenav a {
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: sandybrown;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: darkorange;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#main-title {
    color: black;
    text-decoration: none;
}

.checkout p {
    margin-top: 1rem;
    line-height: .6rem;
}

.checkout input {
    margin-bottom: 1rem;
}

.checkout #checkbox {
    display: flex;
    flex-direction: row;
}

.checkout #checkbox input{
    margin: 1rem 1rem 1rem 0;
}
.cart-open {
    background-color: #3b3b3b;
    min-height: 300px;
    min-width: 400px;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.cart-holder button {
    margin: .3rem;
    position: relative;
    color: sandybrown;
}

.cart-holder button:hover {
    color: darkorange;
}

.cart-holder{
    z-index: 1999;
    right: .4rem;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1rem; /* Place content 60px from the top */
    position: fixed; /* Stay in place */
    margin-right: .3rem;

}

#cart {
    display: none;
    background-color: #2f5476;
    opacity: 90%;
    border-radius: 10px;
    padding: .7rem;
}

#cart table th,td{
    color: sandybrown;
}

.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-inside {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}